dfn, cite {
	font-style: italic;
}

blockquote {
	margin: 1.5em 0;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}

	p {
		font-style: italic;

		i, em {
			font-style: normal;
		}
	}
}

address {
	margin: 0 0 $paragraph-margin-bottom;
}

pre {
	background: $code-background;
	font-family: $code-font-family;
	font-size: em(15);
	margin-bottom: 1.6;
	max-width: 100%;
	overflow: auto;
	padding: em(24);
}

code, kbd, tt, var {
	font-size: em(15);
}

mark, ins {
	background: $light-gray;
	text-decoration: none;
}

big {
	font-size: 125%;
}

//// General typographic classes
///

// List Title
// used on News home page and in some archive pages
.list-title {
	border-bottom: 2px solid $black;
	clear: both;
	display: inline-block;
	font-family: $body-font-family;
	font-size: rem(14);
	letter-spacing: rem-calc(1.5);
	line-height: normal;
	margin-bottom: $global-margin/2;
	text-transform: uppercase;
}

.dotted {
	border-bottom: 1px solid rgba($black,.25);
}