dfn, cite {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 $paragraph-margin-bottom;
}

pre {
	background: $code-background;
	font-family: $code-font-family;
	font-size: em(15);
	margin-bottom: 1.6;
	max-width: 100%;
	overflow: auto;
	padding: em(24);
}

code, kbd, tt, var {
	font-size: em(15);
}

mark, ins {
	background: $light-gray;
	text-decoration: none;
}

big {
	font-size: 125%;
}

//// General typographic classes
///
.dotted {
	border-bottom: 1px solid rgba($black,.25);
}