.archive.tag,
.archive.category,
.search-results {
  .row {
    padding-left: rem(15);
    padding-right: rem(15);
  }

  .entry-header {
    clear: both;
    margin-bottom: rem(8);
    border-bottom: 2px dotted rgba($black,.25);
    padding-bottom: rem(10);
  }

  .hentry {
    margin-bottom: rem(30);
    @include flex-grid-column(12);

    .readmore {
      text-align: left;
    }

    @include breakpoint(large) {
      @include flex-grid-column(6);
    }
  }

  .callout {
    height: 100%;
    margin-bottom: 0;
  }
}
