//// List of posts shown on News (home)
///
.main-feed {
  padding: rem-calc(15);
  position: relative;
  @include flex-callout(12);

  @include breakpoint(large) {
    padding: rem-calc(24 0 24 30);
    @include flex-callout(8);

    &:before {
      content: '';
      background-color: $white;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: rem-calc(30);
    }
  }
}

@supports(flex-wrap:wrap) {
  @include breakpoint(medium) {
    .feed-box {
      display: flex;
      flex-wrap: wrap;
    }

    .blog .has-post-thumbnail {
      @include flex-callout(12);

      .entry-media {
        float: left;
        margin-top: 0;
        margin-bottom: 0;
        padding-right: rem(15);
        width: 50%;
      }

      .entry-summary {
        float: left;
        padding-left: rem(15);
        width: 50%;
      }

      .thumbnail {
        margin-bottom: 0;
        position: relative;
        top: 3px;
      }
    }
  }

  // Remove the border from the second entry if both it and the first entry do not have a thumbnail
  @include breakpoint(large) {
    .blog .no-post-thumbnail {
      flex: 1;
      min-width: 50%;

      &:first-child + .no-post-thumbnail {
        border-top: 0 none;
      }
    }
  }
}

.entry-media img {
  margin-top: rem(5);
  margin-bottom: rem(10);
  width: 100%;
}

.blog .hentry {
  border-top: 2px dotted rgba($black, .25);
  padding: rem-calc(20 0);

  &:first-of-type {
    border-top: 0 none;
  }

  @include breakpoint(large) {
    padding-left: 0;
    padding-right: rem-calc(30);
  }
}

.entry-header {
  clear: both;
  margin-bottom: rem(8);
}

.entry-title {
  font-size: 1.5em;
  line-height: 1.2;
  letter-spacing: -1px;
  margin-bottom: rem(6);
}

.entry-meta {
  color: neutral(4);
  font-size: rem(12);

  time {
    @include time-meta-style;
  }

  s {
    color: neutral(2);
    font-size: 1.25em;
    font-weight: normal;
    line-height: 1;
    text-decoration: none;
    vertical-align: middle;
    position: relative;
    top: -2px;
  }
}

.entry-terms {
  a {
    color: neutral(6);

    &:focus,
    &:hover {
      color: color(brand-medium);
    }
  }
}

// link styling
.entry-summary {
  @include add-text-link-style;

  p:last-child {
    margin-bottom: 0;
  }

  ul {
    margin-left: em(18);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// image orientation classes added by javascript
.inline-image-h {
  clear: both;
  display: block;
  float: none;
  margin: em(10) 0 0 0;
  width: 100%;
}

.inline-image-v {
  max-width: 45%;
}
