//// List of posts shown on News (home)
///

@supports(flex-wrap:wrap) {
  @include breakpoint(medium) {
    .feed-box {
      display: flex;
      flex-wrap: wrap;
    }

    .singular-page article.post  {
      @include flex-callout(12);

      header.entry-header {
        padding: 0px !important;
        margin: 0px 0px 8px !important;
        flex: 0 0 100%;
        max-width: 100%;
      }

      h2.entry-title {
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: -1px;
        margin-bottom: .375rem !important;

        a {
          text-decoration: none !important;
          color: rgb(19, 21, 22) !important;
        }

      }

      span.entry-terms a {
        text-decoration: none !important;
        color: rgb(19, 21, 22) !important;
      }

      .entry-media {
        float: left;
        margin-top: 0;
        margin-bottom: 0;
        padding-right: rem(15);
        width: 30%;
      }

      .entry-summary {
        float: left;
        padding-left: rem(15);
        width: 70%;
      }

      .thumbnail {
        margin-bottom: 0;
        position: relative;
        top: 3px;
      }
    }
  }

  .entry-media img {
    margin-top: rem(5);
    margin-bottom: rem(10);
    width: 100%;
  }

  .singular-page .hentry {
    border-top: 2px dotted rgba($black, .25);
    padding: rem-calc(20 0);

    &:first-of-type {
      border-top: 0 none;
    }

    @include breakpoint(large) {
      padding-left: 0;
      padding-right: rem-calc(30);
    }
  }
}
