.main-feed {
  padding: rem-calc(15 0 15 15);
  position: relative;
  @include flex-callout(12);

  @include breakpoint(large) {
    padding: rem-calc(24 0 24 30);
    @include flex-callout(8);

    &:before {
      content: '';
      background-color: $white;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: rem-calc(30);
    }
  }
}

@supports(flex-wrap:wrap) {
  @include breakpoint(large) {
    .feed-box {
      display: flex;
      flex-wrap: wrap;
    }
    .has-post-thumbnail {
      @include flex-callout(12);
    }
    .no-post-thumbnail {
      flex: 1;
      min-width: 50%;
    }
    .no-post-thumbnail:first-child + .no-post-thumbnail {
      border-top: 0 none;
    }
  }
}

.blog .hentry {
  border-top: 1px solid neutral(3);
  padding: rem-calc(20 0);

  &:first-of-type {
    border-top: 0 none;
  }

  @include breakpoint(large) {
    padding-left: 0;
    padding-right: rem-calc(30);
  }
}

.entry-header {
  clear: both;
}

.entry-title {
  font-size: 1.5em;
  line-height: 1.2;
  letter-spacing: -1px;
  margin-bottom: .5em;
}

.entry-meta {
  @include time-meta-style;

  s {
    color: color(cvb);
    font-size: 1.5em;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    position: relative;
    top: -2px;
  }
}

// link styling
.entry-content {
  @include add-text-link-style;

  p:last-child {
    margin-bottom: 0;
  }

  ul {
    margin-left: em(18);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// image orientation classes added by javascript
.inline-image-h {
  clear: both;
  display: block;
  float: none;
  margin: em(10) 0 0 0;
  width: 100%;
}

.inline-image-v {
  max-width: 45%;
}

// .blog .hentry.has-post-thumbnail {
//   @include breakpoint(medium) {
//     width: 100%;

//     .entry-header {
//       @include clearfix();
//     }

//     .entry-content,
//     .entry-media {
//       float: left;
//       width: 50%;
//     }
//     .entry-media {
//       padding-right: rem-calc(15);
//     }
//     .entry-media img {
//       margin-top: 3px;
//     }
//     .entry-content {
//       padding-left: rem-calc(15);
//     }
//   }
// }
