.site-footer {
  background-color: color(brand);
  border-top: 5px solid color(brand-dark);
  color: $white;
  padding: rem-calc(30px) 0 0;

  a {
    &,
    &:hover,
    &:focus {
      color: currentColor;
    }
    &:hover,
    &:focus {
      opacity: .8;
    }
  }

  address {
    font-style: normal;
  }

  h3, h4 {
    font-size: 1em;
    line-height: 1.375;
    margin-bottom: .625em;
    text-transform: uppercase;
  }

  li {
    line-height: 1.75;

    > strong {
      font-size: .875em;
    }
  }

  // Classes
  .row .widget {
    margin-bottom: $global-margin;
    padding-top: rem(10);
    padding-bottom: rem(10);
    @include flex-grid-column(12);

    &:first-child {
      // Hide the title on the Address text-widget (first widget in footer)
      h3, h4 {
        display: none;
      }
    }

    @include breakpoint(medium) {
      @include flex-callout(6);
    }

    @include breakpoint(large) {
      @include flex-callout(2.666);

      &:first-child {
        @include flex-callout(4);
      }
    }
  }

  .row:not(.column) {
    @media (min-width: 50em) {
      max-width: $global-width + 1.875;
    }
  }

  .menu {
    &,
    > li,
    > li > a {
      display: block;
      padding: 0;
    }

    > li > a {
      line-height: 1.75;
    }
  }

  .menu,
  .textwidget {
    dt {
      clear: left;
      float: left;
      font-size: .9em;
      line-height: 1.9444;
      margin-bottom: 0;
      margin-right: .5em;
    }

    dd {
      line-height: 1.75;
      margin: 0;
    }
  }
}

.footer-logo {
  float: left;
  margin-right: $global-margin;
  position: relative;
  top: 3px;
  max-width: 100px;
}

.footer-address-title {
  display: block;
  font-family: $header-font-family;
  font-size: rem-calc(18px);
  line-height: 1.2;
  margin-bottom: .35em;
  text-transform: uppercase;
}

.site-copyright {
  background-color: color(brand-dark);
  font-size: .75em;
  padding-top: $global-padding;
  padding-bottom: $global-padding;

  .row {
    text-align: center;
    text-transform: uppercase;
  }
}