//// Global Site Header

.site-header {
  background-color: color(brand);
  padding-top: $site-header-height-small;
  position: relative;
  z-index: 100;

  @include breakpoint(medium) {
    // padding-top: $site-header-height;
    // padding-top: 86px;
    padding-top: 0;
  }

  @include breakpoint(large) {
    padding-top: 0;
  }
}

/// Logo area in the Masthead
.site-branding {
  background-color: $white;
  color: $white;
  display: flex;
  align-items: center;
  height: $site-header-height-small;
  padding: 10px 15px;
  position: absolute;
  top: 0; left: 0;
  -webkit-filter: drop-shadow(0 10px 0 rgba(0,51,85,0.2));
  filter: drop-shadow(0 10px 0 rgba(0,51,85,0.2));
  z-index: 1;

  &:after {
    content: "";
    display: block;
    background-color: transparent;
    border-left: 50px solid currentColor;
    border-top: 40px solid transparent;
    border-bottom: 80px solid transparent;
    position: absolute;
    top: 0;
    right: -50px;
  }

  @include breakpoint(medium) {
    height: $site-header-height;
    padding: 16px 30px;

    &:after {
      border-top: 50px solid transparent;
      border-bottom: 90px solid transparent;
    }
  }

  @include breakpoint(medium) {
    float: left;
    // needed to prevent top page content from being pushed right
    margin-bottom: -20px;
    position: relative;
  }
}
  /// The `H1` tag inside of `.site-branding` that contains `.site-logo`
  .site-title {
    margin-bottom: 0;
  }

  /// The link that holds the image
  .site-logo {
    display:block;
    font-family: sans-serif;
    line-height: 0;
    max-width: 315px;
    text-decoration:none;

    @include breakpoint(large down) {
      max-width: 275px;
    }
  }

// Site Description
// located in `.top-bar-top .top-bar-left`
.site-description {
  display: block;
  padding-right: 1rem;
  position: absolute;
  top: 82px;
  z-index: 1;

  @include breakpoint(small down) {
    max-width: 200px;
  }

  @media screen and #{breakpoint(medium)} and (max-width: em(840)) {
    display: none;
  }

  @include breakpoint(medium) {
    // display: none;
    position: relative;
    top: initial;
    left: initial;
  }

  @include breakpoint(large) {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: auto; left: auto;
  }
}

.site-header {
  .top-bar {
    background-color: color(brand);
    color: $white;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    min-height: $site-header-top-bar-top-height;

    .top-bar-left,
    .top-bar-right {
      flex: 0 0 auto;
    }

    @include breakpoint(small only) {
      justify-content: flex-start;
      padding-left: $gutterMediumHalf;
      padding-right: $gutterMediumHalf;
    }

    @include breakpoint(medium) {
      justify-content: space-between;
      padding-left: em(65);
    }

    // @include breakpoint(large) {
    //   height: $site-header-top-bar-top-height;
    // }
  }

    .top-bar-left {
      @include breakpoint(xlarge) {
        display: table;
      }
    }

    // @media (min-width: em(1025px)) {
    @include breakpoint(xlarge) {
      .top-bar-right { float: right; }
    }

  /// Bottom instance of Foundation's `top-bar`
  //  contains Contact Information, Searchform, and Dept-Navigation `menu-toggle`
  .top-bar--bottom {
    background-color: color(brand-dark);
    min-height: $site-header-top-bar-bottom-height;

    @include breakpoint(medium down) {
      justify-content: flex-end;
    }
  }

}

/// Contact Info Text Widget

// <dl>
.site-contact {
  color: inherit;
  margin: 0;

  @include breakpoint(xlarge) {
    margin-right: auto;
  }

  a {
    color: currentColor;
  }
}

@mixin is-toggled() {
  $bg: transparentize($black, .1);

  background: $bg;
  display: block !important;
  padding: em(5,12) em(10,12);
  position: absolute;
  top: 40px;
  text-align: center;
  white-space: nowrap;
  filter: drop-shadow(0 2px 6px $black);
  z-index: 2;
  @include horizontal-center;

  &::before {
    @include css-triangle(10px, $bg, up);
    margin: -12px auto auto auto;
    position: relative;
    // TODO: bug in Foundation triangle's where only one direction has `border-style` applied
    border-style: solid;
  }
}

// <dd>
.site-contact-info {
  background-color: transparent;
  font-weight: 400;
  position: relative;

  span { font-size: em(12); }

  @include breakpoint(medium down) {
    border-radius: rem-calc(8);
    box-shadow: none;
    color: $white;
    display: inline-block;
    height: ($site-search-field-height - px-calc($topbar-padding * 2));
    padding: em(9) em(12);
    transition: all .3s linear;

    span[id] { display: none; }
  }

  @include breakpoint(large) {
    &:first-of-type {
      margin-right: rem-calc(8);
      padding-left: 0;
    }

    span { font-size: em(14); }

    .icon { margin-right: rem-calc(4); }
  }
}

@include breakpoint(medium down) {
  .site-contact .is-toggled {
    @include is-toggled;
  }

  .contact-toggle {
    background: transparent;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 1;
  }
}

