// force footer to be always at bottom
.container {
  min-height: 50vh;
}

// Grid system
.content {
  max-width: 100%;

  > .row {
    margin: rem(0 15 30 15);
    @include paper-ui;

    @include breakpoint(xlarge) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
