.news-feed {
  padding-top: rem-calc(15);
  padding-bottom: rem-calc(15);
  @include flex-grid-column(12);

  @include breakpoint(large) {
    padding-top: rem-calc(24);
    padding-bottom: rem-calc(24);
    @include flex-grid-column(8, 60);
  }
}

.sidebar-column {
  background-color: transparent;
  border: 0 none;
  box-shadow: none;
  margin: 0;
  @include flex-grid-column(12,0);

  @include breakpoint(large) {
    flex-direction: column;
    @include flex-grid-column(4, 0);
    padding-top: rem-calc(4);
  }

  .widget {
    @include breakpoint(medium) {
      flex: 1;
      max-width: 100%;
    }

    @include breakpoint(large) {
      flex: 1;
      max-width: 100%;
    }
  }
}

.feed-title,
.column-widget-title {
  border-bottom: 2px solid currentColor;
  display: inline-block;
  font-family: $body-font-family;
  font-size: em(14);
  letter-spacing: rem-calc(1.5);
  line-height: normal;
  margin-bottom: $global-margin/2;
  text-transform: uppercase;
}
