.page-fold:empty {
  display: none;
}

.page-header {
  padding-top: rem(15);
  padding-bottom: rem(15);
  @include flex-grid-column(12);

  @include breakpoint(large) {
    padding-top: rem(30);
    padding-bottom: rem(30);
  }

  p:last-child {
    margin-bottom: 0;
  }
}

  .main > .page-header:first-child {
    margin-top: $global-margin;
  }

.page-content-body {
  padding-top: rem(15);
  padding-bottom: rem(15);
  @include flex-grid-column(12, 30);
  @include add-text-link-style;

  @include breakpoint(large) {
    padding-top: rem(30);
    padding-bottom: rem(30);
    @include flex-grid-column(null, 60);
  }
}

.page-title {
  font-size: 2.5em;
  line-height: 1.15;
  letter-spacing: -1px;
  margin-bottom: rem(60);
}

.page-footer {
  @include flex-grid-column(12);
  justify-content: center;
}
