.post-header,
.post-content-body {
  padding-top: rem(15);
  padding-bottom: rem(15);
  @include flex-grid-column(12);

  p:last-child {
    margin-bottom: 0;
  }
}

.post-header {
  @include breakpoint(large) {
    flex: 0 0 em(400);
    max-width: em(400);
    padding-top: rem(30);
    padding-bottom: rem(30);
    padding-left: rem(30);
    padding-right: rem(30);
  }
}

.post-content {
  @include add-text-link-style;

  @include breakpoint(large) {
    @include flex-grid-column(null, 0);
    padding-left: rem(30);
    padding-bottom: rem(30);
  }
}

.post-content-body {
  @include breakpoint(large) {
    flex: 0 0 em(600);
    max-width: em(600);
    padding: rem(30 15 30 0);
  }
}

.post-meta {
  @include time-meta-style;

  s {
    color: color(cvb);
    font-size: 1.5em;
    text-decoration: none;
    vertical-align: middle;
    position: relative;
    top: -2px;
  }
}

.post-title {
  font-size: 2.5em;
  line-height: 1.15;
  letter-spacing: -1px;
  margin-bottom: $global-margin;
}

.byline {
  font-weight: 700;
  text-transform: uppercase;

  &::before {
    content: "By ";
    font-weight: normal;
    text-transform: none;
  }
}
