.post-header,
.post-content-body {
  padding-top: rem-calc(15);
  padding-bottom: rem-calc(15);
  @include flex-grid-column(12);
}

.post-header {
  @include breakpoint(large) {
    padding-top: rem-calc(30);
    padding-bottom: rem-calc(30);
    @include flex-grid-column(4, 60px);
  }
}

.post-content {
  @include add-text-link-style;

  @include breakpoint(large) {
    padding-bottom: rem-calc(30);
    @include flex-grid-column(8, 0);
  }
}

.post-content-body {
  @include breakpoint(large) {
    @include flex-grid-column(10, 0);
    padding: rem-calc(30 0);
  }
}

.post-meta {
  @include time-meta-style;

  s {
    color: color(cvb);
    font-size: 1.5em;
    text-decoration: none;
    vertical-align: middle;
    position: relative;
    top: -2px;
  }
}

.post-title {
  font-size: 2.5em;
  line-height: 1.15;
  letter-spacing: -1px;
}

.byline {
  font-weight: 700;
  text-transform: uppercase;

  &::before {
    content: "By ";
    font-weight: normal;
    text-transform: none;
  }
}
