.sidebar {
  background-color: neutral(1);
  box-shadow: 0 1px 3px rgba(0,0,0,.26);
  margin-bottom: rem-calc(30px);
  @include flex-grid-row();
  margin-left: rem(15);
  margin-right: rem(15);

  @include breakpoint(large) {
    margin-left: auto;
    margin-right: auto;
  }

  h3 {
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: $global-margin;
  }

  .widget {
    padding: rem-calc(10 15);

    @include breakpoint(large) {
      padding: rem-calc(20 30);
    }

    .menu {
      display: block;

      > li > a {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

/// Sidebar Column
/// used on home page (news)
/// 
.sidebar-column {
  background-color: transparent;
  border: 0 none;
  box-shadow: none;
  margin: 0;
  @include flex-grid-column(12,0);

  @include breakpoint(large) {
    flex-direction: column;
    @include flex-grid-column(4, 0);
    padding-top: rem-calc(4);
  }

  .widget {
    @include breakpoint(medium) {
      flex: 1;
      max-width: 100%;
    }

    @include breakpoint(large) {
      flex: 1;
      max-width: 100%;
    }
  }

  h3 {
    @extend .list-title;
  }
}

/// List Box
/// menu holder on default pages in `page-header`
/// 
.singular .list-box {
  @media (min-width: em(900)) and (max-width: em(1024)) {
    position: absolute;
    top: rem(24);
    right: -46.5%;
    max-width: em(300);
  }
}

h1 + .list-box,
h2 + .list-box {
  margin-top: rem(45);

  @media (min-width: em(900)) and (max-width: em(1024)) {
    margin-top: 0;
  }
}
