.single {
  .post {
    @include flex-grid-row();
  }

  .post,
  .attraction {
    background-color: $white;
    box-shadow: 0 1px 3px rgba(0,0,0,.26);
    margin-top: 4em;

    .wp-post-image {
      width: 100%;
    }
  }
}
