//// Used on global header search bar on smaller viewports
.hinge-in  { @include mui-hinge(in,  top, edge, 2000px, from-back, false, 0.25s, cubic-bezier(0.4, 0, 0.2, 1)); }
.hinge-out { @include mui-hinge(out, top, edge, 2000px, from-back, false, 0.3s, cubic-bezier(0.4, 0, 0.2, 1)); }

//// Used on `.menu-toggle-close` button for `.section-navigation`
///
@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

// Pulse
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: fadeIn;
}

// Fade-In
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}