/* prevent initial flash of global footer colliding with grid on page load */
.archive-attraction .site-footer {
  visibility: hidden;
}

.archive-attraction.contentinfo-is-visible .site-footer {
  visibility: visible;
}

.attraction-details {
  border: 1px solid color(cvb);
  margin-bottom: 1rem;

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .callout {
    border: 0 none;
    font-size: rem-calc(12);
    margin-bottom: 0;

    @include breakpoint(medium) {
      width: 50%;

      &:first-child {
        border-right: 1px solid color(cvb);
        padding-right: rem-calc(15);
      }
    }
  }

  h3, h4, h5 {
    font-family: $body-font-family;
    margin: 0;
  }

  h3 {
    background-color: color(cvb);
    color: $white;
    font-size: .875em;
    line-height: 2;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0 10px;
  }

  h4, h5 {
    font-size: 1em;
  }
}

.map-thumb {
  width: 200px;
  height: 200px;
  border: #ccc solid 1px;
  margin: 1em 0;
}

/* fixes potential theme css conflict */
.map-thumb img {
  max-width: inherit !important;
}

/* add link style for header lead - Joel */
#app.isotope-archive > header > div > p.lead > a {
  font-weight: bolder;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
