.alt.button {
  background-color: color(cvb);
  border: 0 none;
  color: $white;

  &:hover, &:focus {
    background-color: scale-color(color(cvb), -20%);
    border: 0 none;
    color: $white;
  }
}

.reverse.hollow.button {
  background-color: transparent;
  border: 1px solid $white;
  color: $white;

  &:hover, &:focus {
    background-color: $white;
    border: 1px solid transparent;
    color: neutral(3);
  }
}

.flat.button {
  color: neutral(5);
  background-color: neutral(0);
  border: 0 none;
  text-transform: capitalize;

  &:active {
    color: shade(neutral(5), 10%);
    background-color: neutral(1);
    border: 0 none;
  }

  &:focus,
  &:hover {
    color: neutral(5);
    background-color: shade(neutral(0), 10%);
    border: 0 none;
  }
}

.icon-button {
  border: 0 none;
  margin: 0;
  padding: rem-calc(8);
}

//// YouTube play button
.playButton {
  position: absolute;
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  margin-left: -34px;
  margin-top: -24px;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
  line-height: inherit;
  text-align: inherit;
  left: 50%;
  top: 50%;
  width: 68px;
  height: 48px;
  transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
}
