.carousel[data-flickity] {
  height: 400px;
  margin: rem(0 15);
  max-width: $global-width;
  @include clearfix;

  @include breakpoint(xlarge) {
    margin-left: auto;
    margin-right: auto;
  }
}

.carousel-cell {
  background-color: color(brand-dark);
  width: 100%;
  height: 400px;
  overflow: hidden;

  @include breakpoint(medium) {
    display: flex;
    justify-content: flex-end;

    img {
      width: 100%;
      min-height: 100%;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      object-fit: cover;
    }
  }
}

.carousel-caption {
  background-color: rgba(color(brand), .9);
  color: $white;
  padding: rem(20 14 20 20);
  opacity: 0;
  animation-duration: 1s;

  &.fadeIn {
    opacity: 1;
  }

  h4 {
    font-family: $body-font-family;
    font-size: em(28);
  }

  a:last-child {
    display: block;
    margin-top: 1em;
    font-size: 93.75%;
    font-weight: 700;
    text-transform: uppercase;

    &::after {
      content: "";
      @include fat-arrow-icon($white, 1rem);
      @extend %align-icon;
      right: rem(-2);
    }
  }

  @include breakpoint(medium) {
    position: relative;
    top: 0; right: 5%;
    width: 33.333%;
    height: 400px;
  }

  @include breakpoint(large) {
    padding: rem(30 24 30 30);
    right: rem(100);
    width: rem(400);
  }
}

.carousel-caption-body {
  height: 100%;
  padding-right: .4em;
  white-space: pre-line;
  overflow: auto;
  overflow-x: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    width: .4em;
    left: .5rem;
  }
  &::-webkit-scrollbar-track {
    background-color: transparentize(color(brand-medium), .4);
  }
  &::-webkit-scrollbar-thumb {
    background: transparentize(color(brand-dark), .2);
    box-shadow: inset .05em .05em 0 rgba($black, .1), inset 0 -.05em 0 rgba($black, .07);
  }
}
  // Hacky fix for `-webkit-overflow-scrolling:touch` bug starting on iOS8
  .touchevents .carousel-caption-body {
    -webkit-overflow-scrolling: touch;
    height: calc(100% + 1px);
  }

