.stripe.contact-us {
  .row > .callout {
    @include flex-callout(12);

    @include breakpoint(large) {
      @include flex-callout(6);
    }
  }

  .row .callout:first-child {
    text-align: center;
  }

  form {
    .callout {
      label {
        text-transform: uppercase;
      }

      #{text-inputs()},
      textarea {
        text-transform: none;
      }

      &.alert {
        color: map-get($foundation-palette, alert);

        svg {
          fill: map-get($foundation-palette, alert);
        }
      }
      &.success {
        color: map-get($foundation-palette, success);

        svg {
          fill: map-get($foundation-palette, success);
        }
      }
    }
  }

  .is-invalid-label {
    color: currentColor;

    input {
      animation-name: pulse;
      @include animation-timing(.5s, both, 2);
    }
  }
  
  .form-error {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: .5s;
    background: $black;
    border-radius: 5px;
    padding: rem(8 16);

    &.is-visible {
      opacity: 1;
    }
  }
}