.duplo-blocks {
  border-top: rem-calc(2.5) solid $body-background;
  border-bottom: rem-calc(2.5) solid $body-background;
  margin-bottom: rem-calc(30);
  position: relative;
  width: 100vw;
  max-width: 100%;
  @include clearfix();

  @include breakpoint(large) {
    margin-bottom: rem-calc(75);
  }
}

.duplo {
  background: linear-gradient(45deg,rgba(0,0,0,0.75),rgba(0,0,0,0));
  border: rem-calc(2.5) solid $body-background;
  height: 450px;
  height: 40vh;
  position: relative;
  overflow: hidden;
  @include grid-col(12,0);
}

.duplo-image {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 100%;
  min-width: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
}
  .no-backgrounblendmode .duplo-image {
    opacity: .8;
  }

.duplo-content {
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: rem-calc(16 20);
  text-shadow: 0 1px 1px rgba(0,55,85,0.5);
  position: relative;
  z-index: 1;

  h2 {
    line-height: 1.2;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    color: neutral(2);
    font-size: 1.125em;
    font-style: italic;

    &:last-child {
      margin-bottom: 0;
    }

    &:empty {
      display: none !important;
    }
  }

  @include breakpoint(large) {
    padding: rem-calc(24 30);
  }
}

.duplo-skrim {
  background: linear-gradient(45deg, $black, transparent);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .8;
  transition: opacity .3s ease-out;

  .duplo:active &,
  .duplo:focus & {
    opacity: 1;
  }
}
  .no-touchevents .duplo:hover .duplo-skrim {
    opacity: 1;
  }

.duplo-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

//// Sizes

// 1 Block
.duplo[m-Duplo="1"] {
  border-left: 0 !important;
  @include grid-col(12,0);

  h2 { font-size: em(48); }

  @include breakpoint(medium) {
    height: 550px;
    height: 65vh;
  }
}

[m-DuploCount="1"] .duplo {
  border-left: 0 !important;
  @include grid-col(12,0);

  h2 {
    font-size: em(42);
  }

  .duplo-content {
    @include breakpoint(medium down) {
      justify-content: center;      
    }
    margin: 0 auto;
    max-width: $global-width;
  }
}

// 2 Blocks
[m-DuploCount="2"] .duplo {

  &[m-Duplo="1"] {
    @include breakpoint(medium) {
      @include grid-col(8,0);
    }
  }

  &[m-Duplo="2"] {
    border-right: 0 !important;
    height: 35vh;
    @include grid-col(12,0);

    h2 {
      font-size: 2.25em;
    }

    @include breakpoint(medium) {
      @include grid-col(4,0);
      height: 65vh;
    }
  }

}

// 3 Blocks
[m-DuploCount="3"] .duplo {

  &[m-Duplo="1"] {
    @include breakpoint(medium) {
      @include grid-col(7,0);
      clear: left;
    }
  }

  &[m-Duplo="2"],
  &[m-Duplo="3"] {
    height: 32.5vh;
    @include grid-col(6,0);

    h2 {
      font-size: 1.25em;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    p { display: none; }

    @include breakpoint(medium) {
      border-right: 0 !important;
      @include grid-col(5,0);

      h2 {
        font-size: 1.5em;
      }
    }

    @include breakpoint(large) {

      h2 {
        margin-bottom: rem-calc(8);
      }

      p {
        display: block;
      }
    }

    @include breakpoint(xlarge) {
      h2 {
        font-size: 1.75em;
      }
    }
  }

  @include breakpoint(small only) {
    &[m-Duplo="2"] {
      border-left: 0 !important;
    }

    &[m-Duplo="3"] {
      border-right: 0 !important;
    }
  }
}

// 4 Blocks
[m-DuploCount="4"] .duplo {

    &[m-Duplo="1"] {
      border-left: 0 !important;
      @include grid-col(12,0);

      h2 {
        font-size: 2.625em;

        &:not(:last-child) {
          margin-bottom: 0;
        }
      }

      @include breakpoint(medium) {
        @include grid-col(6,0);
        height: 65vh;
      }
    }

    &[m-Duplo="2"] {
      border-right: 0 !important;
      height: 35vh;
      @include grid-col(12,0);

      h2 {
        font-size: 2em;
      }

      @include breakpoint(medium) {
        @include grid-col(6,0);
        height: 32.5vh;
      }
    }

    &[m-Duplo="3"],
    &[m-Duplo="4"] {
      height: 35vh;
      @include grid-col(6,0);

      h2 {
        font-size: 1.5em;
        margin-bottom: 0;
      }

      p { display: none; }

      @include breakpoint(medium) {
        height: 32.5vh;
        @include grid-col(3,0);

        h2 {
          margin-bottom: rem-calc(8);
        }

        p { display: block; }
      }
    }

    &[m-Duplo="4"] {
      @include breakpoint(medium) {
        border-right: 0 !important;
      }
    }
}