.duplo-blocks {
  border-top: rem(2.5) solid $body-background;
  border-bottom: rem(2.5) solid $body-background;
  color: $white;
  position: relative;
  width: 100vw;
  max-width: 100%;
  @include clearfix();
}

.duplo {
  border: rem(2.5) solid $body-background;
  position: relative;
  overflow: hidden;
  @include grid-col(12,0);
}

.duplo-image {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 100%;
  min-width: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
}
  .no-backgrounblendmode .duplo-image {
    opacity: .8;
  }

.duplo-content {
  color: currentColor;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: rem(16 20);
  text-shadow: 0 1px 1px rgba(0,55,85,0.5);
  position: relative;
  z-index: 1;

  h2 {
    line-height: 1.2;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    font-style: italic;
    margin-bottom: 0;
    &:empty {
      display: none !important;
    }

    @include breakpoint(xlarge) {
      font-size: em(18);
    }
  }

  time {
    font-size: em(12);
    font-weight: 700;
    letter-spacing: rem(1.5);
    text-transform: uppercase;
    margin-bottom: em(10,12);
  }

  @include breakpoint(xxlarge) {
    padding: rem(24 30);
  }
}

.duplo-skrim {
  background: linear-gradient(35deg, $black 0%, transparent 100%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  transition: opacity .3s ease-out;

  .duplo:active &,
  .duplo:focus & {
    opacity: 1;
  }
}
  .no-touchevents .duplo:hover .duplo-skrim {
    opacity: 1;
  }

.duplo-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.stripe.duplo-set {
  margin-bottom: em(30);
}

//// Text-only Duplos
///
.duplo.news-header {
  background-color: color(brand-light);
}

.duplo.display-type[m-UI="paper"] {
  color: $black;
}

.duplo.news-header,
.duplo.display-type .duplo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: rem(16 20);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,55,85,0.5);
  position: relative;
  z-index: 1;

  h1 {
    @include breakpoint(small only) {
      br {
        display: none;
      }
    }
  }

  @include breakpoint(large) {
    padding: rem(24 30);
  }
}

//// Sizes

// 1 Block
.duplo[m-Duplo="1"] {
  border-left: 0 !important;
  height: auto;
  @include grid-col(12,0);

  h2 { font-size: em(40); }

  @include breakpoint(medium) {
    height: 400px;
    height: 50vh;

    h2 { font-size: em(48); }

  }

  @include breakpoint(large) {
    height: 640px;
    height: 70vh;
  }
}

[m-DuploCount="1"] .duplo {
  border-left: 0 !important;
  @include grid-col(12,0);

  h2 {
    font-size: em(48);
  }

  .duplo-content {
    @include breakpoint(medium down) {
      justify-content: center;      
    }
    margin: 0 auto;
    max-width: $global-width;
  }

  @include breakpoint(large) {
    height: 500px;
    height: 55vh;
  }
}

// 2 Blocks
[m-DuploCount="2"] .duplo {

  &[m-Duplo="1"] {
    @include breakpoint(medium) {
      @include grid-col(8,0);
    }
  }

  &[m-Duplo="2"] {
    border-right: 0 !important;
    height: 320px;
    height: 35vh;
    @include grid-col(12,0);

    h2 {
      font-size: 2.25em;
    }

    @include breakpoint(medium) {
      @include grid-col(4,0);
      height: 640px;
      height: 70vh;
    }
  }

}

// 3 Blocks
.stripe [m-DuploCount="3"] .duplo {

  &[m-Duplo="1"] {
    @include breakpoint(medium) {
      @include grid-col(7,0);
      clear: left;
    }
  }

  &[m-Duplo="2"],
  &[m-Duplo="3"] {
    height: 320px;
    height: 35vh;
    @include grid-col(6,0);

    h2 {
      font-size: 1.25em;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    p { display: none; }

    @include breakpoint(medium) {
      border-right: 0 !important;
      @include grid-col(5,0);

      h2 {
        font-size: 1.25em;
      }
    }

    @include breakpoint(large) {

      h2 {
        font-size: 1.5em;
        margin-bottom: rem(8);
      }

      p {
        display: block;
      }
    }

    @include breakpoint(xlarge) {
      h2 {
        font-size: 1.75em;
      }
    }
  }

  @include breakpoint(small only) {
    &[m-Duplo="2"] {
      border-left: 0 !important;
    }

    &[m-Duplo="3"] {
      border-right: 0 !important;
    }
  }
}

// 4 Blocks
[m-DuploCount="4"] .duplo {

  &[m-Duplo="1"] {
    border-left: 0 !important;
    @include grid-col(12,0);

    h2 {
      font-size: 2.625em;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    @include breakpoint(medium) {
      @include grid-col(6,0);
      height: 640px;
      height: 70vh;
    }
  }

  &[m-Duplo="2"] {
    border-right: 0 !important;
    height: 320px;
    height: 35vh;
    @include grid-col(12,0);

    h2 {
      font-size: 2em;
    }

    @include breakpoint(medium) {
      @include grid-col(6,0);
      height: 320px;
      height: 35vh;
    }
  }

  &[m-Duplo="3"],
  &[m-Duplo="4"] {
    height: 320px;
    height: 35vh;
    @include grid-col(6,0);

    h2 {
      font-size: 1.25em;
      margin-bottom: 0;
    }

    p { display: none; }

    @include breakpoint(medium) {
      height: 320px;
      height: 35vh;
      @include grid-col(3,0);

      h2 {
        font-size: 1.5em;
        margin-bottom: rem(8);
      }
    }

    @include breakpoint(xlarge) {
      p {
        display: block;
        font-size: em(16,18);
      }
    }
  }

  &[m-Duplo="4"] {
    @include breakpoint(medium) {
      border-right: 0 !important;
    }
  }
}

//// BANNER
.duplo-banner {
  // `.hallmark` class added when count is one
  // `:only-child` added as fallback
  .duplo-hallmark,
  [m-duplo="1"]:only-child {
    border-left: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    min-height: em(180);

    .duplo-content {
      height: 100%;
    }

    .duplo-title {
      text-align: center;

      @include breakpoint(large) {
        font-size: em(62);
      }
    }
  }

  //// 2 Blocks
  [m-DuploCount="2"] .duplo {

    &[m-Duplo="2"],
    [m-Duplo]:last-child {
      @include grid-col(12,0);

      @include breakpoint(medium) {
        @include grid-col(9,0);
      }
      @include breakpoint(large) {
        @include grid-col(10,0);

        .duplo-content {
          max-width: 50em;
        }
      }
    }

  }

  //// 3 Blocks
  [m-duploCount="3"] {
    [m-duplo="1"],
    [m-duplo]:first-child {
      border-left: 0 !important;

      .duplo-content {
        height: 100%;
        justify-content: center;
      }

      .duplo-title {
        text-align: center;

        @include breakpoint(large) {
          font-size: em(62);
        }
      }

      @include breakpoint(medium) {
        @include grid-col(6,0);
        height: 640px;
        height: 70vh;
      }
    }

    [m-Duplo="2"],
    [m-Duplo]:first-child + [m-Duplo] {
      @include breakpoint(medium) {
        @include grid-col(6,0);
        height: 320px;
        height: 35vh;
      }
    }

    [m-Duplo="3"],
    [m-Duplo]:last-child {
      @include breakpoint(medium) {
        @include grid-col(6,0);
        height: 320px;
        height: 35vh;
      }
    }

    @include breakpoint(small only) {
      [m-Duplo="2"],
      [m-Duplo]:first-child + [m-Duplo],
      [m-Duplo="3"],
      [m-Duplo]:last-child {
        float: none !important;
        min-height: 200px;
        min-height: 35vh;

        .duplo-content {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      [m-Duplo="2"],
      [m-Duplo]:first-child + [m-Duplo] {
        border-left: 0 !important;
      }

      [m-Duplo="3"],
      [m-Duplo]:last-child {
        border-right: 0 !important;
      }
    }
  }

  //// 4 Blocks
  [m-DuploCount="4"] .duplo {

    &[m-Duplo="2"] {

      p {
        display: none;
      }

      @include breakpoint(small only) {
        border-left: 0 !important;
      }

      @include breakpoint(medium) {
        @include grid-col(9,0);
        height: 320px;
        height: 35vh;
      }

      @include breakpoint(large) {
        @include grid-col(6,0);
        height: 640px;
        height: 70vh;

        p {
          display: block;
        }
      }
    }

    &[m-Duplo="3"],
    &[m-Duplo="4"] {
      @include breakpoint(medium) {
        height: 320px;
        height: 35vh;
        @include grid-col(4.5,0);
      }
      @include breakpoint(large) {
        height: 320px;
        height: 35vh;
        @include grid-col(4,0);
      }
    }

    &[m-Duplo="3"] {
      @include breakpoint(small only) {
        border-left: 0 none !important;
      }
    }
  }

}


//// NEWS FEED
///  always 4 blocks
///
.duplo-feed {
  [m-DuploCount="4"] .duplo {
    // Duplo Header : 1 Block
    &[m-Duplo="1"] {
      @include grid-col(12,0);

      @include breakpoint(small only) {
        border-right: 0 !important;
      }

      @include breakpoint(medium) {
        @include grid-col(3,0);
      }

      @include breakpoint(large) {
        @include grid-col(2,0);
      }
    }

    // 2 Blocks
    &[m-Duplo="2"] {

      p {
        display: none;
      }

      @include breakpoint(small only) {
        border-left: 0 !important;
      }

      @include breakpoint(medium) {
        @include grid-col(9,0);
        height: 320px;
        height: 35vh;
      }

      @include breakpoint(large) {
        @include grid-col(6,0);
        height: 640px;
        height: 70vh;

        p {
          display: block;
        }
      }
    }

    &[m-Duplo="3"],
    &[m-Duplo="4"] {
      @include breakpoint(medium) {
        height: 320px;
        height: 35vh;
        @include grid-col(4.5,0);
      }
      @include breakpoint(large) {
        height: 320px;
        height: 35vh;
        @include grid-col(4,0);
      }
    }

    &[m-Duplo="3"] {
      @include breakpoint(small only) {
        border-left: 0 none !important;
      }
    }
  }
}
