.highlight {
  text-align: center;

  h3 {
    font-size: 1.5em;
    line-height: 1.2;
    margin-bottom: 5px !important;
  }

  .icon {
    background: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2096%2096%22%3E%3Ctitle%3Eicon-bg%3C/title%3E%3Crect%20width%3D%2296%22%20height%3D%2296%22%20fill%3D%22none%22/%3E%3Cpath%20d%3D%22M92%2C53l4-3.25-3.69-3.54%2C3.41-3.81-4.19-2.94%2C2.79-4.29-4.59-2.26%2C2.1-4.67L87%2C26.73l1.37-4.93L83.26%2C21l.6-5.08H78.75l-.18-5.11-5.05.79-1-5L67.67%2C8.16%2C66%2C3.34%2C61.38%2C5.63l-2.43-4.5-4.18%2C3L51.68%2C0%2C48%2C3.56%2C44.32%2C0%2C41.23%2C4.08l-4.18-3-2.43%2C4.5L30%2C3.34%2C28.33%2C8.16%2C23.45%2C6.61l-1%2C5-5.05-.79L17.25%2C16H12.14l.6%2C5.08-5.06.77L9%2C26.73%2C4.17%2C28.27l2.1%2C4.67L1.68%2C35.19l2.79%2C4.29L.28%2C42.42l3.41%2C3.81L0%2C49.77%2C4%2C53%2C.84%2C57.08l4.4%2C2.61L2.79%2C64.18l4.75%2C1.9L5.8%2C70.89l5%2C1.16-1%2C5%2C5.1.38-.21%2C5.11%2C5.1-.4.58%2C5.09%2C5-1.18L26.69%2C91l4.74-1.92%2C2.08%2C4.68%2C4.39-2.62%2C2.77%2C4.3%2C3.94-3.27L48%2C96l3.39-3.83%2C3.94%2C3.27%2C2.77-4.3%2C4.39%2C2.63%2C2.08-4.68L69.31%2C91l1.34-4.94%2C5%2C1.18.58-5.09%2C5.1.4-.21-5.11%2C5.1-.38-1-5%2C5-1.16-1.74-4.81%2C4.75-1.9-2.45-4.49%2C4.4-2.61ZM48%2C88.54A40.62%2C40.62%2C0%2C1%2C1%2C88.61%2C47.93%2C40.62%2C40.62%2C0%2C0%2C1%2C48%2C88.54Z%22%20fill%3D%22%230f4466%22/%3E%3Cpath%20d%3D%22M48%2C87.5A39.5%2C39.5%2C0%2C1%2C0%2C8.5%2C48%2C39.5%2C39.5%2C0%2C0%2C0%2C48%2C87.5%22%20fill%3D%22%230f4466%22/%3E%3C/svg%3E);
    color: $white;
    display: block;
    line-height: 3;
    margin: 0 auto rem-calc(8px);
    width: rem-calc(96px);
    height: rem-calc(96px);

    svg {
      margin-top: rem-calc(28px);
      width: rem-calc(40px);
      height: rem-calc(40px);
    }
  }
}
