.icon {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  position: relative;
  top: -.125em;
}

svg.icon,
.icon svg {
  fill: currentColor;
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
}

.bg-icon {
  display: inline-block;
  width: 1.5rem; height: 1.5rem;

  &.refresh {
    @include refresh-icon(currentColor, 1.5rem);
  }

  &.list {
    @include list-icon(currentColor, 1.5rem);
  }

  &.columns {
    @include columns-icon(currentColor, 1.5rem);
  }

}