//// Isotope styles
#isotope-list {
  width: 100%;
}

.isotope-header {
  margin-bottom: em(30);
  padding: rem(15);
  justify-content: center;

  @include breakpoint(medium) {
    padding: rem(30);
  }

  @include breakpoint(large) {
    margin-bottom: rem(60);
    padding: rem(60);

    h1 {
      font-size: em(62);
      margin-bottom: .5em;
    }
  }

}

.isotope-hgroup {
  margin: 0 auto;
  padding: em(15);
  text-align: center;
  width: 100%;
  max-width: $global-width;
}

/// Isotope Filtering
.isotope-sortable-menu {
  justify-content: center;
  @include flex-grid-row();

  > a {
    display: inline-block;
    font-size: em(12);
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
    opacity: .8;

    @include breakpoint(medium down) {
      max-width: rem(80);
      font-family: "Roboto Condensed", HelveticaNeue-CondensedBold, "Arial Narrow", sans-serif;
      font-size: rem(10);
    }

    &.is-selected {
      opacity: 1;
    }
  }

  .icon {
    display: block;
    margin: 0 auto .5em;
  }
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/// Isotope transitions

.isotope,
.isotope .isotope-item {
  transition-duration: 0.8s;
}

.isotope {
  transition-property: height, width;
}

.isotope .isotope-item {
  transition-property:         transform, opacity;
}

/// disabling transitions

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  transition-duration: 0s;
}
