.mediabox {
  @include flex-grid-column(12,0);

  @include breakpoint(large) {
    @include flex-grid-column(8,0);
  }
}

.media-block {
  .media {
    margin-bottom: 0;
  }

  .callout {
    margin-bottom: 0;
    @include flex-grid-column(12, 30);

    @include breakpoint(large) {
      @include flex-grid-column(4, 60);
    }
  }

  .rubric {
    border-bottom: 3px solid currentColor;
    display: inline-block;
    font-size: .875em;
    text-transform: uppercase;
  }

  h3 {
    font-size: 2em;
    line-height: 1.1;
    text-transform: uppercase;
  }
}
