.mediabox {
  @include flex-callout(12);

  @include breakpoint(large) {
    @include flex-callout(8);
  }
}

.media-block {
  .media {
    margin-bottom: 0;
  }

  .callout {
    margin-bottom: 0;
    @include flex-callout(12);

    @include breakpoint(large) {
      @include flex-callout(4);
    }
  }

  .rubric {
    border-bottom: 3px solid currentColor;
    display: inline-block;
    font-size: .875em;
    text-transform: uppercase;
  }

  h2 {
    line-height: 1.1;
    text-transform: uppercase;
  }
}
