.mediabox {
  @include flex-callout(12);

  @include breakpoint(large) {
    @include flex-callout(8);
  }
}

.media-block {
  .media {
    margin-bottom: 0;
  }

  .flex-video.widescreen.media {
    @include breakpoint(large only) {
      padding-bottom: 67.5%;
    }
  }

  .video-poster {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
  }

  .callout {
    margin-bottom: 0;
    @include flex-callout(12);

    @include breakpoint(large) {
      @include flex-callout(4);
    }
  }

  .rubric {
    border-bottom: 3px solid currentColor;
    display: inline-block;
    font-size: .875em;
    text-transform: uppercase;
  }

  h3 {
    font-size: rem(32);
    line-height: 1.1;
    text-transform: uppercase;
  }
}
