.page-header {
  padding-top: rem(15);
  padding-bottom: rem(15);
  padding-left: rem-calc(15px);
  padding-right: rem-calc(15px);
  @include flex-grid-column(12);

  @include breakpoint(large) {
    padding-top: rem(30);
    padding-bottom: rem(30);
  }

  p:last-child {
    margin-bottom: 0;
  }
}
  .singular .page-header {
    @include breakpoint(large) {
      @include flex-grid-column(4, 60px);
    }
  }

  .main > .page-header:first-child {
    margin-top: $global-margin;
  }
