.grid {
  @include flex-grid-row;
}

.grid-section-header {
  @include flex-grid-row;
  margin-bottom: rem(10);
  padding: rem(0 15);
}

.vcard {
  padding: rem(0 15);

  @include breakpoint(medium) {
    @include flex-callout(6);
  }

  @include breakpoint(large) {
    @include flex-callout(4);
  }

  @include breakpoint(xlarge) {
    @include flex-callout(3);    
  }
}

.vcard-profile {
  margin-bottom: rem(30);
  @include paper-ui;

  img {
    display: block;
  }

  [rel="name"] {
    font-family: $header-font-family;
    font-size: em(24);
    font-weight: 700;
  }

  [rel="department"] {
    display: none;
    font-size: em(15);
    font-weight: 700;
    line-height: (1.6 * 16) / 15;
    text-transform: uppercase;
  }

  [rel="job-title"] {
    font-size: em(18);
    font-weight: 700;
  }
}

.vcard-media {
  border-bottom: 5px solid color(brand);
  height: 0;
  padding-bottom: 62.5%;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    top: 50%; left: 0;
    width: 100%;
    object-fit: cover;
    transform: translateY(-50%);
  }
}

// Override archive entry styles
.single {
  @include breakpoint(medium) {
    .vcard-profile {
      display: table;
      table-layout: fixed;
      width: 100%;
    }

    .vcard-media {
      border-bottom: 0 none;
      display: table-cell;
      padding: rem(15);
      width: 240px;
    }

    .vcard-content {
      display: table-cell;
      padding: rem(15);
      vertical-align: top;
    }
  }
  [rel="department"] {
    display: block;
  }
}

.vcard-content {
  padding: rem(15);
}

.vcard-list {
  font-size: em(12);
  margin-bottom: 0;

  dt {
    clear: left;
    display: inline-block;
    font-size: em(10,12);
    line-height: (1.6 * 12) / 10;
    text-transform: uppercase;
    float: left;
    margin: 0;
    width: rem(40);
    vertical-align: text-bottom;
  }
  dd {
    margin: 0 0 rem(4);
  }
}
