.grid {
  @include flex-grid-row;
}

.grid-section-header {
  @include flex-grid-row;
  margin-bottom: rem(10);
  padding: rem(0 15);
}

.vcard {
  display: flex;
  flex-direction: column;
  padding: rem(0 15);
  @include flex-callout(6);
  .contact-full {
    display: none;
  }
  .contact-mobile a {
    padding: 0 10px 0 0;
  }

  @include breakpoint(30em) {
    @include flex-callout(4);
    .contact-mobile {
      display: inline-block;
    }
  }

  @include breakpoint(medium) {
    @include flex-callout(4);
    .contact-mobile {
      display: inline-block;
    }
  }

  @include breakpoint(large) {
    @include flex-callout(2.4);
    .contact-full {
      display: inline-block;
    }
    .contact-mobile {
      display: none;
    }
  }
}

.vcard-profile {
  flex: 1;
  margin-bottom: rem(30);
  @include paper-ui;

  img {
    display: block;
  }

  [rel="name"], [rel="department"], [rel="job-title"], [rel="email"] {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
  }

  [rel="name"] {
    font-family: $header-font-family;
    font-size: em(24);
    font-weight: 700;
  }

  [rel="department"] {
    display: none;
    font-size: em(15);
    font-weight: 700;
    line-height: (1.6 * 16) / 15;
    text-transform: uppercase;
  }

  [rel="job-title"] {
    font-size: em(18);
    font-weight: 700;
  }
}

.vcard-media {
  height: 0;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }
}

// Override archive entry styles
.single {
  @include breakpoint(medium) {
    .vcard-profile {
      display: table;
      table-layout: fixed;
      width: 100%;
    }

    .vcard-media {
      border-bottom: 0 none;
      display: table-cell;
      padding: rem(15);
      width: 240px;
    }

    .vcard-content {
      display: table-cell;
      padding: rem(15);
      vertical-align: top;
    }
  }
  [rel="department"] {
    display: block;
  }
}

$departments: (
        'convention-and-visitors-bureau': (
                dept: 'convention-and-visitors-bureau',
                color: color(cvb)
        ),
        'economic_development': (
                dept: 'economic_development',
                color: color(development)
        ),
        'educationtraining': (
                dept: 'educationtraining',
                color: color(education)
        ),
        'memberservices': (
                dept: 'memberservices',
                color: color(members)
        ),
        'sharedservices': (
                dept: 'sharedservices',
                color: color(shared)
        )
);

.vcard {
  @each $dept, $department in $departments {
    $dept: map-get(map-get($departments, $dept), dept);
    $color: map-get(map-get($departments, $dept), color);

    &.department-#{$dept} .vcard-content {
      border-top-color: $color;
    }
  }
}

.vcard-content {
  border-top: 5px solid color(brand);
  padding: rem(10 15 15 15);
}

.vcard-list {
  font-size: em(12);
  margin-bottom: 0;

  dt {
    clear: left;
    display: inline-block;
    font-size: em(10, 12);
    line-height: (1.6 * 12) / 10;
    text-transform: uppercase;
    float: left;
    margin: 0;
    width: rem(40);
    vertical-align: text-bottom;
  }
  dd {
    margin: 0 0 rem(4);
  }
}

//// IE 10-11 Support
///
.flexboxtweener.no-supports {
  .vcard {
    display: block;
  }
  .vcard-profile {
    min-height: 85%;
  }
}
