.stripe {
  @include breakpoint(small only) {
    margin-left: rem-calc(15);
    margin-right: rem-calc(15);
  }
  > .row {
    margin-bottom: rem-calc(30px);
    width: 100%;
    @include paper-ui;

    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.stripe:first-child {
  margin-top: em(60);
}

.stripe.duplo-set:first-child {
  margin-top: 0;
  @include clearfix;
}
