.stripe {
  > .row {
    margin: rem(0 15 30 15);
    @include paper-ui;

    @include breakpoint(xlarge) {
      margin-left: auto;
      margin-right: auto;
    }

    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.stripe:first-child {
  margin-top: em(60);
}

.stripe.duplo-set:first-child {
  margin-top: 0;
  @include clearfix;
}
