.whitesheet-header,
.whitesheet-body {
  // padding-top: rem-calc(15);
  // padding-bottom: rem-calc(15);
  @include flex-callout(12);

  // @include breakpoint(large) {
  //   padding-top: rem-calc(20);
  //   padding-bottom: rem-calc(20);
  // }
}

.whitesheet-header {
  h1, h2 {
    margin-bottom: 0;
  }

  @include breakpoint(large) {
    @include flex-callout(4);  
  }
}

.whitesheet-body {
  @include breakpoint(large) {
    @include flex-callout(8);  
  }

  .lead {
    font-size: em(22);
    font-style: italic;
    font-weight: 300;

    b, strong {
      font-weight: normal;
    }

    i, em {
      font-style: normal;
    }
  }
}

.whitesheet-content {
  @include breakpoint(large) {
    font-size: em(18);
  }
}
