/* Text meant only for screen readers. */
.screen-reader-text {
	@include element-invisible;
}

/* Read More link */
.readmore {
  display: block;
  font-family: $header-font-family;
  font-size: em(14);
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin-top: $global-margin;
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

// Captions
.wp-caption-text {
  border-bottom: 1px solid currentColor;
  color: neutral(3);
  font-size: .8125em;
  font-style: italic;
  line-height: 1.4;
  text-align: left;
  padding-bottom: .5em;
}
  .wp-caption {
    .wp-caption-text {
      margin-top: .25em;
    }
  }

// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  display: block;
  margin: rem((($global-lineheight * $base-font-size) / 2)) auto;
  height: auto;
}

.alignleft,
.alignright {
  margin-bottom: rem((($global-lineheight * $base-font-size) / 2));
  height: auto;
}
	@include breakpoint(small) {
	  // Only float if not on an extra small device
	  .alignleft {
	    float: left;
	    margin-right: rem((($global-lineheight * $base-font-size) / 2));
	  }

	  .alignright {
	    float: right;
	    margin-left: rem((($global-lineheight * $base-font-size) / 2));
	  }
	}

// Do not show the outline on the skip link target.
#content[tabindex="-1"]:focus {
  outline: 0;
}
