/// Theme Colors
//
$palette: (
  brand:        #0f4466,
  brand-light:  #009dd7,
  brand-medium: #005f96,
  brand-dark:   #003355,
  cvb:          #eb6b23,
  development:  #84c256,
  education:    #4a54aa,
  members:      #009dd7,
  shared:       #a71930
);

$neutrals: (
  0: #eceff1,
  1: #cfd8dc,
  2: #b0bec5,
  3: #90a4ae,
  4: #607d8b,
  5: #45555c,
  6: #263238,
  7: #131516
);

/// Theme Font Settings
//
$font-serif: Georgia, serif;

$base-font-size: 16px;

/// Icons
//
$icon-search: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22#{neutral(3)}%22%20d%3D%22M31.008%2027.231l-7.58-6.447c-0.784-0.705-1.622-1.029-2.299-0.998%201.789-2.096%202.87-4.815%202.87-7.787%200-6.627-5.373-12-12-12s-12%205.373-12%2012%205.373%2012%2012%2012c2.972%200%205.691-1.081%207.787-2.87-0.031%200.677%200.293%201.515%200.998%202.299l6.447%207.58c1.104%201.226%202.907%201.33%204.007%200.23s0.997-2.903-0.23-4.007zM12%2020c-4.418%200-8-3.582-8-8s3.582-8%208-8%208%203.582%208%208-3.582%208-8%208z%22%3E%3C/path%3E%3C/svg%3E');

/// Global Site Header
// 
$site-header-height: 140px;
$site-header-height-small: 120px;
$site-header-top-bar-top-height: 60px;
$site-header-top-bar-bottom-height: 60px;

/// Department Navigation height
//
$dept-nav-height: 40px;

/// Global Search Field in Header
//
$site-search-field-height: $site-header-top-bar-bottom-height;

/// Skrim
// used on Duplo
// $skrim-color: map-get($neutrals, 6);