.section-navigation {
  background: transparent;
  color: #fefefe;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1) .25s;

  h2, h3 {
    display: none;
  }

  .menu-item-has-children:only-child > a {
    @include element-invisible;
  }

  .menu li > a {
    display: block;
    padding: rem-calc(0 15);
    white-space: nowrap;
  }

  @include breakpoint(medium down) {
    max-height: 1px;
    margin-top: -1px;
    opacity: 0;
    visibility: hidden;
  }

  &.is-active {
    background: color(brand);
    display: table;
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1) .25s;
    z-index: 1200;

    .menu {
      display: table-cell;
      padding: rem-calc(30);
      vertical-align: middle;
      width: 100%;

      li {
        text-align: center;

        > a {
          display: block;
          font-size: 1.5em;
          font-weight: 700;
          letter-spacing: 2px;
          line-height: 2;
        }
      }
    }
  }

  @include breakpoint(large) {
    background: $black;
    min-height: $dept-nav-height;
    // position: absolute;
    // top: 550px; // Clear the Duplo
    // top: 70vh;
    // margin-top: rem-calc($site-header-height + 4); // Add height of master header for clearance
    width: 100%;
    z-index: 1000;
    opacity: 1;

    .menu,
    .sub-menu {
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      max-width: $global-width;
    }

    .sub-menu {
      @include menu-base;

      > li {
        border-left: 1px solid neutral(2);

        &:last-child {
          border-right: 1px solid neutral(2);
        }
      }

      .menu-item-has-children ul {
        display: none;
      }
    }
  }

  .close-button {
    display: none;
  }
}


/* Small menu. */
.menu-toggle {
  background-color: transparent;
  border-radius: rem-calc(8);
  box-shadow: none;
  color: $white;
  display: inline-block;
  height: em(44px);
  min-width: em(44);
  position: relative;
  transform: scale(1);
  transition: border-radius 0.25s cubic-bezier(0.4, 0, 0.2, 1),
              background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
              filter 0.35s cubic-bezier(0.4, 0, 0.2, 1),
              transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &[aria-expanded="true"] {
    background-color: $white;
    border-radius: 50%;
    color: neutral(6);
    transform: scale(1.15);
    filter: drop-shadow(0 5px 10px rgba(0,0,0,0.36));
    z-index: 1201;
  }

  @include breakpoint(large) {
    display: none;
  }
}

  // Hide the Department menu toggle if not on a Department page
  body[class^="home"] {
    .menu-toggle { display: none !important; }
  }

/// Menu icon bars wrapper
.bubblewrap {
  margin: auto;
  padding: em(9px) em(12px);
  position: relative;
  width: 100%;
  height: 100%;
}

/// Menu icon bars
.bar {
  background-color: currentColor;
  width: 20px;
  height: 1px;
  position: absolute;
  top: 15px;
  right: 12px;
  transform-origin: 50% 50%;
  transition: all 0.2s ease-out 0.2s;

  &.second {
    margin-top: 7px;
  }

  &.third {
    margin-top: 14px;
  }
}

.menu-toggle[aria-expanded="true"] {

  .bar.first {
    margin-top: 6px;
    transform: rotate(45deg);
    transition: all 0.2s ease-out .2s;
  }

  .bar.second {
    opacity: 0;
    transition: all 0.2s ease-out .2s;
  }

  .bar.third {
    margin-top: 6px;
    transform: rotate(-45deg);
    transition: all 0.2s ease-out .2s;
  }

}

.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}

