.sidebar-vertical [class^="widget"] {
  padding-left: 0;
  padding-right: 0;
}


//// Quicklinks
#menu-quicklinks > li {
  &.active > a {
    background-color: transparent;
    opacity: .5;
    pointer-events: none;
  }

  > a::before {
    content: "";
    @include arrow-right-icon(color(cvb));
    @extend %align-icon;
    margin-right: em(10);
    transition: color .3s cubic-bezier(0.4,0,0.2,1);
  }
}

.pager {
  margin-bottom: rem(30);
  padding-left: rem(12);
  padding-right: rem(12);

  a {
    background-color: neutral(4);
    border: 3px solid $white;
    color: $white;
    display: block;
    position: relative;
    width: 100%;

    &[rel="prev"] {
      padding: rem(20 20 20 55);
      text-align: right;

      .dir {
         left: 0;
       }
    }

    &[rel="next"] {
      padding: rem(20 55 20 20);
      text-align: left;

      .dir {
        right: 0;
      }
    }
  }

  .dir {
    padding: rem(5);
    position: absolute;
    top: 50%;
    width: rem(55);
    transform: translateY(-50%);
  }

  h3, h4 {
    margin-bottom: 0;
  }

  .pager-text {
    font-size: rem(12);
    font-weight: 700;
    text-transform: uppercase;
  }

  @include breakpoint(medium) {
    display: table;
    table-layout: fixed;
    margin-bottom: rem(30);

    a {
      display: table-cell;
      position: relative;
      top: 0; left: 0;
      width: 50%;
    }
  }

  @include breakpoint(large) {
    padding-left: rem(24);
    padding-right: rem(24);
  }
}
  @supports(display:flex) {
    .pager {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
