.site-navigation {
	.menu {
		> li {
			margin-left: rem-calc(5px);

			&:first-child {
				margin-left: 0;
			}

			> a {
				border-radius: 2px;
				font-size: em(12);
				font-weight: 700;
				text-transform: uppercase;
				padding: rem-calc(8 12);

				@include breakpoint(large) {
					font-size: em(14);
				}
			}
		}
	}

	.active > a {
		background-color: color(brand-dark);
		box-shadow: inset 0 0 5px transparentize($black,.2);
	}

	li.button-link {
		> a {
			background: transparent;
			border: 1px solid $primary-color;
			margin: rem-calc(0 5 0 0);
			transition: background-color 0.25s linear;
		}

		> a:active,
		> a:focus,
		&.active > a {
			background: transparent;
			border: 1px solid $primary-color;
		}
	}
}

	@include breakpoint(medium down) {
		.site-navigation .menu > li > a {
			padding: rem(5 8);
			font-family: "Roboto Condensed", HelveticaNeue-CondensedBold, "Arial Narrow", sans-serif;
		}
	}

	@include breakpoint(medium only) {
		.site-navigation .menu {
			flex-wrap: wrap;
			justify-content: flex-end;

			> li:not(.button-link) {
				margin-bottom: rem(4);
			}
		}
	}

	// Non-mobile hover state
	[data-whatinput="mouse"] .site-navigation li.button-link > a:hover {
		background-color: $primary-color;
		border: 1px solid $primary-color;
	}
