.subsidiary-navigation {
  border-top: 5px solid $black;
  border-bottom: 1px solid $black;
  margin-bottom: rem(15);

  h3 {
    line-height: normal;
    margin-bottom: 0;
    padding: rem(10);
  }

  .menu {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: rem(6);

    > li {
      border-top: 1px dotted neutral(3);

      a {
        background-color: transparent;
        padding: rem(10 36 10 10);
        position: relative;
        transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);

        &:after {
          content: "";
          position: absolute;
          right: rem(10);
          @include fat-arrow-icon(color(cvb));
        }
      }

      &.active > a,
      > a:active,
      > a:focus,
      > a:hover {
        color: currentColor;
      }

      > a:active,
      > a:focus,
      > a:hover {
        background-color: rgba($black,.05);
      }

      &.active,
      > a:active {
        opacity: .6;
      }
    }
  }
}
