////
//// Icon Modifiers
////

// Icon-sizing
[m-Icon~="xsmall"] {
  width: rem-calc(16);
  height: rem-calc(16);
  top: -.06125em;
}

[m-Icon~="small"] {
  width: rem-calc(24);
  height: rem-calc(24);
}

[m-Icon~="medium"] {
  width: rem-calc(32);
  height: rem-calc(32);
}

[m-Icon~="large"] {
  width: rem-calc(48);
  height: rem-calc(48);
}

[m-Icon~="xlarge"] {
  width: rem-calc(96);
  height: rem-calc(96);
}
