@mixin ui-colors( $bgColor: $body-background, $forceLinks: false ) {
  background-color: $bgColor !important;

  @if ($forceLinks == true) {
    @include consistent-color($bgColor, '[m-UI]');
  }

  @else {
    @include consistent-color($bgColor);
  }
}

[m-UI~="primary"] {
  @include ui-colors(map-get($foundation-palette, primary), true);
}

[m-UI~="paper"] {
  background-color: $white !important;
}

// Neutrals (grays)
[m-UI~="neutral"] {
  &[m-UI~="light"] {
    @include ui-colors(neutral(2));
  }

  &[m-UI~="medium"] {
    @include ui-colors(neutral(4));
  }

  &[m-UI~="dark"] {
    @include ui-colors(neutral(6));
  }
}

// Notification colors
[m-UI~="alert"] {
  @include ui-colors(map-get($foundation-palette, alert), true);
}

[m-UI~="success"] {
  @include ui-colors(map-get($foundation-palette, success), true);
}

[m-UI~="warning"] {
  @include ui-colors(map-get($foundation-palette, warning), true);
}

// FGCC main brand color
[m-UI~="brand"] {
  @include ui-colors(color(brand));
 
  &[m-UI~="light"] {
    @include ui-colors(color(brand-light));
  }

  &[m-UI~="medium"] {
    @include ui-colors(color(brand-medium));
  }

  &[m-UI~="dark"] {
    @include ui-colors(color(brand-dark));
  }
}

// Chamber Dept. Color Scheme
[m-UI~="cvb"] {
  @include ui-colors(color(cvb), true);
}

[m-UI~="development"] {
  @include ui-colors(color(development), true);
}

[m-UI~="education"] {
  @include ui-colors(color(education), true);
}

[m-UI~="members"] {
  @include ui-colors(color(members), true);
}

[m-UI~="shared"] {
  @include ui-colors(color(shared), true);
}

/// Background Overlay
///
[m-UI~="bgOverlay"] {
  @include ui-colors($black);
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
  position: relative;

  .backdrop {
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    background-size: cover !important;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    opacity: .1;
  }
}

/// Button Colors
///
.button {
  &[m-UI~="brand"] {
    @include button(
      false,
      color(brand),
      color(brand),
      $white,
      $button-fill
    );
    &[m-UI~="dark"] {
      background-color: color(brand-dark) !important;
    }
  }

  &[m-UI~="shadow"] {
    box-shadow: 0 1px 3px rgba(0,0,0,.26);
  }
}

nav,
menu {
  .button {
    margin-bottom: 0 !important;
  }
}
